Create a new blog post
<form action='/new' method= "post">
Title:  <input type="text" name="post[title]" size="50" autofocus> <br>
Author: <input type="text" name="post[author]" size="50"> <br>
Tags:  <input type="text" name="tag" size="50"> <br>
Content: <textarea placeholder="Write a post" name="post[content]" rows="30" cols="50">
</textarea>

<input type="submit" value="Publish">
</form>
